{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text-center">Contact Us</h1>
    <h3 class="text-center">FOR INQUIRY OR BOOKING PURPOSE </h3>
<form method="post" action="/contact">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="Name" class="form-control" id="name" name = "name" placeholder="Enter your Name">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your E-mail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPhone" class="form-label">Contact Number</label>
        <input type="contact" class="form-control" id="phone" name="phone" placeholder="Enter your Mob. Number">
      </div>
    <div class="mb-3">
        <label for="desc" class="form-label">DESCRIPTION</label>
        <textarea name="desc" class="form-control" id="desc"  rows="3" ></textarea>
        <div id="text" class="form-text">Describe the Type of Hostel you want</div>
      </div>
    
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" >
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}
